## **Import Libraries**

In [0]:
# Upload Data from Google Drive
from google.colab import drive

# Store Data in Pandas Dataframe
import pandas as pd

# Numerical functions
import numpy as np

In [0]:
# Visualization
import seaborn as sns
import matplotlib.pyplot as plt
tips = sns.load_dataset("tips")
sns.set(style='whitegrid', palette="deep", font_scale=1.1)

## **Mount Data**

In [3]:
### From Google Drive

# Mount drive at location
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Read CSV and store in Pandas Dataframe

# Common
df_country_region = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/countries-region-modified.csv")
df_pop_density = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/population_density_per_square_km.csv")

In [0]:
# Health
df_exp_govt = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Health/government_share_of_total_health_spending_percent.csv")
df_exp_pvt  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Health/private_share_of_total_health_spending_percent.csv")
df_exp_indv  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Health/out-of-pocket health exp.csv")
df_life_expectancy_m  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Health/life_expectancy_male.csv")
df_life_expectancy_f  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Health/life_expectancy_female.csv")

In [0]:
# Education
df_edu_exp  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Education/Expenditure on Education (% of GNI).csv")
df_mean_years_edu_m  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Education/mean_years_in_school_men_15_to_24_years.csv")
df_mean_years_edu_f  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Education/mean_years_in_school_women_15_to_24_years.csv")

In [0]:
# Economy
df_avg_income  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Economy/income_per_person_gdppercapita_ppp_inflation_adjusted.csv")
df_income_inequality  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Economy/income inequaltiy - gini coefficient.csv")
df_employment_rate_m  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Economy/males_aged_15plus_employment_rate_percent.csv")
df_employment_rate_f  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Economy/females_aged_15plus_employment_rate_percent.csv")

In [0]:
# Deaths
df_child_mortality  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Deaths/child_mortality_0_5_year_olds_dying_per_1000_born.csv")
df_adult_mortality_m  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Deaths/adult_mortality_rate_male.csv")
df_adult_mortality_f  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Deaths/adult_mortality_rate_female.csv")
df_suicides  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Deaths/suicide_total_deaths.csv")
df_murders  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Deaths/murder_total_deaths.csv")

In [0]:
# Society
df_military_exp  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Society/military_expenditure_percent_of_gdp.csv")
df_corruption_perception  = pd.read_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Society/corruption_perception_index_cpi.csv")

## **Cleaning Individual Datasets**

### **Country Region**

In [0]:
# Remove extra white spaces
df_country_region['Country'] = df_country_region['Country'].str.strip()

### **Population Density**

In [11]:
# Check for missing values
df_pop_density.isna().sum()

country    0
1950       0
1951       0
1952       0
1953       0
          ..
2096       0
2097       0
2098       0
2099       0
2100       0
Length: 152, dtype: int64

### **Percentage of Health Expenditure - by Govt**

In [12]:
# Check for missing values
df_exp_govt.isna().sum()

country    0
1995       3
1996       2
1997       2
1998       1
1999       1
2000       1
2001       1
2002       2
2003       2
2004       2
2005       2
2006       2
2007       2
2008       2
2009       2
2010       5
dtype: int64

In [13]:
# Back-fill and Forward-fill missing values in all rows
df_exp_govt =  df_exp_govt.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_exp_pvt.isna().sum()

country    0
1995       3
1996       2
1997       2
1998       1
1999       1
2000       1
2001       1
2002       2
2003       2
2004       2
2005       2
2006       2
2007       2
2008       2
2009       2
2010       5
dtype: int64

### **Percentage of Health Expenditure - by Pvt Firms**

In [14]:
# Check for missing values
df_exp_pvt.isna().sum()

country    0
1995       3
1996       2
1997       2
1998       1
1999       1
2000       1
2001       1
2002       2
2003       2
2004       2
2005       2
2006       2
2007       2
2008       2
2009       2
2010       5
dtype: int64

In [15]:
# Back-fill and Forward-fill missing values in all rows
df_exp_pvt =  df_exp_pvt.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_exp_pvt.isna().sum()

country    0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
dtype: int64

### **Percentage of Health Expenditure - out of Individualv Pocket**

In [16]:
# Check for missing values
df_exp_indv.isna().sum()

country    0
2000       7
2001       7
2002       5
2003       3
2004       3
2005       3
2006       3
2007       3
2008       2
2009       2
2010       1
2011       1
2012       2
2013       3
2014       3
2015       3
2016       3
dtype: int64

In [17]:
# Back-fill and Forward-fill missing values in all rows
df_exp_indv =  df_exp_indv.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_exp_indv.isna().sum()

country    0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
dtype: int64

### **Life Expectancy**

In [18]:
# Male

# Check for missing values
df_life_expectancy_m.isna().sum()

country    0
1950       0
1951       0
1952       0
1953       0
          ..
2095       0
2096       0
2097       0
2098       0
2099       0
Length: 151, dtype: int64

In [19]:
# Female

# Check for missing values
df_life_expectancy_f.isna().sum()

country    0
1950       0
1951       0
1952       0
1953       0
          ..
2095       0
2096       0
2097       0
2098       0
2099       0
Length: 151, dtype: int64

### **Education Expenditure**

In [20]:
# Check for missing values
df_edu_exp.isna().sum()

country    0
1970       0
1971       0
1972       0
1973       0
1974       0
1975       0
1976       0
1977       0
1978       0
1979       0
1980       0
1981       0
1982       0
1983       0
1984       0
1985       0
1986       0
1987       0
1988       0
1989       0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
dtype: int64

### **Mean Years in School**

In [21]:
# Male

# Check for missing values
df_mean_years_edu_m.isna().sum()

country    0
1970       0
1971       0
1972       0
1973       0
1974       0
1975       0
1976       0
1977       0
1978       0
1979       0
1980       0
1981       0
1982       0
1983       0
1984       0
1985       0
1986       0
1987       0
1988       0
1989       0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
dtype: int64

In [22]:
# Female

# Check for missing values
df_mean_years_edu_f.isna().sum()

country    0
1970       0
1971       0
1972       0
1973       0
1974       0
1975       0
1976       0
1977       0
1978       0
1979       0
1980       0
1981       0
1982       0
1983       0
1984       0
1985       0
1986       0
1987       0
1988       0
1989       0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
dtype: int64

### **Average Income**

In [23]:
# Check for missing values
df_avg_income.isna().sum()

country    0
1800       0
1801       0
1802       0
1803       0
          ..
2036       0
2037       0
2038       0
2039       0
2040       0
Length: 242, dtype: int64

### **Employment Rate**

In [24]:
# Male

# Check for missing values
df_employment_rate_m.isna().sum()

country    0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
2022       0
dtype: int64

In [25]:
# Female

# Check for missing values
df_employment_rate_f.isna().sum()

country    0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
2022       0
dtype: int64

### **Income Inequality**

In [26]:
# Check for missing values
df_income_inequality.isna().sum()

country    0
1800       0
1801       0
1802       0
1803       0
          ..
2036       0
2037       0
2038       0
2039       0
2040       0
Length: 242, dtype: int64

### **Child Mortality Rate**

In [27]:
# Check for missing values
df_child_mortality.isna().sum()

country     0
1800        9
1801        9
1802        9
1803        9
           ..
2014        0
2015        0
2016        0
2017       10
2018       10
Length: 220, dtype: int64

In [28]:
# Back-fill and Forward-fill missing values in all rows
df_child_mortality =  df_child_mortality.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_child_mortality.isna().sum()

country    0
1800       0
1801       0
1802       0
1803       0
          ..
2014       0
2015       0
2016       0
2017       0
2018       0
Length: 220, dtype: int64

### **Adult Mortality Rate**

In [29]:
# Male

# Check for missing values
df_adult_mortality_m.isna().sum()

country     0
1960        6
1961        7
1962        7
1963        7
1964        7
1965        7
1966        7
1967        7
1968        7
1969        7
1970        6
1971        7
1972        7
1973        7
1974        7
1975        7
1976        7
1977        7
1978        7
1979        7
1980        6
1981        7
1982        7
1983        5
1984        5
1985        5
1986        5
1987        5
1988        5
1989        5
1990        1
1991        3
1992        3
1993        3
1994        3
1995        3
1996        3
1997        3
1998        3
1999        3
2000        0
2001        3
2002        3
2003        3
2004        3
2005        3
2006        3
2007        3
2008        3
2009        3
2010        3
2011        4
2012        5
2013        5
2014        7
2015       15
2016       19
2017       33
dtype: int64

In [30]:
# Back-fill and Forward-fill missing values in all rows
df_adult_mortality_m =  df_adult_mortality_m.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_adult_mortality_m.isna().sum()

country    0
1960       0
1961       0
1962       0
1963       0
1964       0
1965       0
1966       0
1967       0
1968       0
1969       0
1970       0
1971       0
1972       0
1973       0
1974       0
1975       0
1976       0
1977       0
1978       0
1979       0
1980       0
1981       0
1982       0
1983       0
1984       0
1985       0
1986       0
1987       0
1988       0
1989       0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
dtype: int64

In [31]:
# Female

# Check for missing values
df_adult_mortality_f.isna().sum()

country     0
1960        6
1961        7
1962        7
1963        7
1964        7
1965        7
1966        7
1967        7
1968        7
1969        7
1970        6
1971        7
1972        7
1973        7
1974        7
1975        7
1976        7
1977        7
1978        7
1979        7
1980        6
1981        7
1982        7
1983        5
1984        5
1985        5
1986        5
1987        5
1988        5
1989        5
1990        1
1991        3
1992        3
1993        3
1994        3
1995        3
1996        3
1997        3
1998        3
1999        3
2000        0
2001        3
2002        3
2003        3
2004        3
2005        3
2006        3
2007        3
2008        3
2009        3
2010        3
2011        4
2012        5
2013        5
2014        7
2015       15
2016       19
2017       33
dtype: int64

In [32]:
# Back-fill and Forward-fill missing values in all rows
df_adult_mortality_f =  df_adult_mortality_f.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_adult_mortality_f.isna().sum()

country    0
1960       0
1961       0
1962       0
1963       0
1964       0
1965       0
1966       0
1967       0
1968       0
1969       0
1970       0
1971       0
1972       0
1973       0
1974       0
1975       0
1976       0
1977       0
1978       0
1979       0
1980       0
1981       0
1982       0
1983       0
1984       0
1985       0
1986       0
1987       0
1988       0
1989       0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
dtype: int64

### **Number of Suicides**

In [33]:
# Check for missing values
df_suicides.isna().sum()

country    0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
dtype: int64

### **Number of Murders**

In [34]:
# Check for missing values
df_murders.isna().sum()

country    0
1990       0
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
dtype: int64

### **Military Expenditure**

In [35]:
# Check for missing values
df_military_exp.isna().sum()

country      0
1960       107
1961        99
1962        95
1963        93
1964        91
1965        88
1966        87
1967        87
1968        81
1969        81
1970        74
1971        73
1972        72
1973        68
1974        69
1975        68
1976        64
1977        60
1978        62
1979        60
1980        55
1981        53
1982        57
1983        58
1984        54
1985        48
1986        51
1987        46
1988        48
1989        48
1990        47
1991        44
1992        34
1993        21
1994        20
1995        24
1996        22
1997        21
1998        26
1999        24
2000        21
2001        21
2002        18
2003        14
2004        12
2005        11
2006        16
2007        18
2008        12
2009        15
2010        16
2011        19
2012        13
2013        11
2014        10
2015        15
2016        16
2017        18
dtype: int64

In [36]:
# Only keep years 2000-2017
df_military_exp.drop(df_military_exp.loc[:, '1960':'1999'].columns, axis = 1, inplace=True) 

# Back-fill and Forward-fill missing values in all rows
df_military_exp =  df_military_exp.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_military_exp.isna().sum()

country    0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
dtype: int64

### **Corruption Perception**

In [37]:
# Check for missing values
df_corruption_perception.isna().sum()

country     0
2012        5
2013        4
2014        6
2015       12
2016        4
2017        0
dtype: int64

In [38]:
# Back-fill and Forward-fill missing values in all rows
df_corruption_perception =  df_corruption_perception.bfill(axis=1).ffill(axis=1)

# Test for missing values
df_corruption_perception.isna().sum()

country    0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
dtype: int64

## **Merging Datasets**

### **Setup Common Columns**

In [39]:
# Get all countries and regions
temp_df = df_country_region[['Country', 'Region']].copy()

# Count of unique regions
temp_df['Region'].value_counts()

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
WESTERN EUROPE                         28
ASIA (EX. NEAR EAST)                   28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: Region, dtype: int64

In [0]:
# Add date column
df_final_dates = pd.DataFrame()

for date in range(1950, 2020):
  new_temp_df = temp_df.copy()
  new_temp_df['Date'] = date
  df_final_dates = df_final_dates.append(new_temp_df, sort=False)

temp_df = df_final_dates.copy()
del new_temp_df, df_final_dates

In [0]:
# Generate 2 rows for each country: Male, Female
new_temp_df = temp_df.copy()

temp_df['Gender'] = 'Male'
new_temp_df['Gender'] = 'Female'

temp_df = temp_df.append(new_temp_df)
del new_temp_df

### **Add data columns**

In [0]:
# Population Density
df_final = pd.DataFrame()

for date in range(0, 70):
  df_curr_temp = df_pop_density.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Population_Density']
  df_curr_temp['Date'] = 1950+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 1950+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

temp_df = df_final.copy()

In [0]:
# Health Expenditure - Govt
df_final = pd.DataFrame()

for date in range(0, 11):
  df_curr_temp = df_exp_govt.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Health_Expenditure_Govt']
  df_curr_temp['Date'] = 2000+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 2000+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 2000):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2011, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Health Expenditure - Pvt
df_final = pd.DataFrame()

for date in range(0, 11):
  df_curr_temp = df_exp_pvt.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Health_Expenditure_Pvt']
  df_curr_temp['Date'] = 2000+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 2000+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 2000):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2011, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Health Expenditure - Indv
df_final = pd.DataFrame()

for date in range(0, 11):
  df_curr_temp = df_exp_indv.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Health_Expenditure_Indv']
  df_curr_temp['Date'] = 2000+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 2000+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 2000):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2011, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Life Expectancy
df_final = pd.DataFrame()

for date in range(0, 70):
  # Male
  df_curr_temp = df_life_expectancy_m.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Life_Expectancy']
  df_curr_temp['Date'] = 1950+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1950+date) & (temp_df.Gender == 'Male')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

  # Female
  df_curr_temp = df_life_expectancy_f.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Life_Expectancy']
  df_curr_temp['Date'] = 1950+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1950+date) & (temp_df.Gender == 'Female')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

temp_df = df_final.copy()

In [0]:
# Education Expenditure
df_final = pd.DataFrame()

for date in range(0, 46):
  df_curr_temp = df_edu_exp.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Education_Expenditure']
  df_curr_temp['Date'] = 1970+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 1970+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1970):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2016, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Mean years in school
df_final = pd.DataFrame()

for date in range(0, 46):
  # Male
  df_curr_temp = df_mean_years_edu_m.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Mean_years_in_school']
  df_curr_temp['Date'] = 1970+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1970+date) & (temp_df.Gender == 'Male')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

  # Female
  df_curr_temp = df_mean_years_edu_f.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Mean_years_in_school']
  df_curr_temp['Date'] = 1970+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1970+date) & (temp_df.Gender == 'Female')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1970):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2016, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Average Income
df_final = pd.DataFrame()

for date in range(0, 27):
  df_curr_temp = df_avg_income.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Average_Income']
  df_curr_temp['Date'] = 1991+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 1991+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1991):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2018, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Employment Rate
df_final = pd.DataFrame()

for date in range(0, 27):
  # Male
  df_curr_temp = df_employment_rate_m.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Employment_Rate']
  df_curr_temp['Date'] = 1991+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1991+date) & (temp_df.Gender == 'Male')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

  # Female
  df_curr_temp = df_employment_rate_f.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Employment_Rate']
  df_curr_temp['Date'] = 1991+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1991+date) & (temp_df.Gender == 'Female')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1991):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2018, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Income Inequality
df_final = pd.DataFrame()

for date in range(0, 27):
  df_curr_temp = df_income_inequality.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Income_Inequality']
  df_curr_temp['Date'] = 1991+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 1991+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1991):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2018, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Child Mortality Rate
df_final = pd.DataFrame()

for date in range(0, 27):
  df_curr_temp = df_child_mortality.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Child_Mortality_Rate']
  df_curr_temp['Date'] = 1990+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 1990+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1990):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2017, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Adult Mortality Rate
df_final = pd.DataFrame()

for date in range(0, 27):
  # Male
  df_curr_temp = df_adult_mortality_m.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Adult_Mortality_Rate']
  df_curr_temp['Date'] = 1990+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1990+date) & (temp_df.Gender == 'Male')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

  # Female
  df_curr_temp = df_adult_mortality_f.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Employment_Rate']
  df_curr_temp['Date'] = 1990+date
  df_final = df_final.append(pd.merge(temp_df[(temp_df.Date == 1990+date) & (temp_df.Gender == 'Female')], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1990):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2017, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Suicides
df_final = pd.DataFrame()

for date in range(0, 27):
  df_curr_temp = df_suicides.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Suicides']
  df_curr_temp['Date'] = 1990+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 1990+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1990):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2017, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Murders
df_final = pd.DataFrame()

for date in range(0, 27):
  df_curr_temp = df_murders.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Murders']
  df_curr_temp['Date'] = 1990+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 1990+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 1990):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2017, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Military Expenditure
df_final = pd.DataFrame()

for date in range(0, 18):
  df_curr_temp = df_military_exp.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Military_Expenditure']
  df_curr_temp['Date'] = 2000+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 2000+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 2000):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2018, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Corruption Perception
df_final = pd.DataFrame()

for date in range(0, 6):
  df_curr_temp = df_corruption_perception.iloc[:,[0, date+1]].copy()
  df_curr_temp.columns = ['Country', 'Corruption_Perception']
  df_curr_temp['Date'] = 2012+date
  df_final = df_final.append(pd.merge(temp_df[temp_df.Date == 2012+date], df_curr_temp, on=['Country','Date'], how='left'), sort=False)

# remaining dates
for date in range(1950, 2012):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)
for date in range(2018, 2020):
  df_final = df_final.append(temp_df[temp_df.Date == date], sort=False)

temp_df = df_final.copy()

In [0]:
# Free memory
del df_curr_temp, df_final
del temp_df['Employment_Rate_x'], temp_df['Employment_Rate_y']

In [0]:
# Reset row indices
temp_df.index = (range(len(temp_df)))

## **Categorical Variables**

In [67]:
# Population Density
temp_df['Population_Density_Categories'] = ''
for i, row in temp_df.iterrows():
  value = temp_df['Population_Density'][i]
  new_value = "51-150"

  if value<50:
    new_value = "0-50"
  elif value>600:
    new_value = ">600"
  elif value>300:
    new_value = "301-600"
  elif value>150:
    new_value = "151-300"

  temp_df.set_value(i,'Population_Density_Categories', new_value)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app

In [78]:
# Health Expenditure - Govt Categories
temp_df['Health_Expenditure_Govt_Categories'] = ''
for i, row in temp_df.iterrows():
  value = temp_df['Health_Expenditure_Govt'][i]

  if value>90:
    new_value = "91%-100%"
  elif value>80:
    new_value = "81%-90%"
  elif value>70:
    new_value = "71%-80%"
  elif value>60:
    new_value = "61%-70%"
  elif value>50:
    new_value = "51%-60%"
  elif value>40:
    new_value = "41%-50%"
  elif value>30:
    new_value = "31%-40%"
  elif value>20:
    new_value = "21%-30%"
  elif value>10:
    new_value = "11%-20%"
  else:
    new_value = "0%-10%"

  temp_df.set_value(i,'Health_Expenditure_Govt_Categories', new_value)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [79]:
# Health Expenditure - Pvt Categories
temp_df['Health_Expenditure_Pvt_Categories'] = ''
for i, row in temp_df.iterrows():
  value = temp_df['Health_Expenditure_Pvt'][i]

  if value>90:
    new_value = "91%-100%"
  elif value>80:
    new_value = "81%-90%"
  elif value>70:
    new_value = "71%-80%"
  elif value>60:
    new_value = "61%-70%"
  elif value>50:
    new_value = "51%-60%"
  elif value>40:
    new_value = "41%-50%"
  elif value>30:
    new_value = "31%-40%"
  elif value>20:
    new_value = "21%-30%"
  elif value>10:
    new_value = "11%-20%"
  else:
    new_value = "0%-10%"

  temp_df.set_value(i,'Health_Expenditure_Pvt_Categories', new_value)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [80]:
# Health Expenditure - Indv Categories
temp_df['Health_Expenditure_Indv_Categories'] = ''
for i, row in temp_df.iterrows():
  value = temp_df['Health_Expenditure_Indv'][i]

  if value>90:
    new_value = "91%-100%"
  elif value>80:
    new_value = "81%-90%"
  elif value>70:
    new_value = "71%-80%"
  elif value>60:
    new_value = "61%-70%"
  elif value>50:
    new_value = "51%-60%"
  elif value>40:
    new_value = "41%-50%"
  elif value>30:
    new_value = "31%-40%"
  elif value>20:
    new_value = "21%-30%"
  elif value>10:
    new_value = "11%-20%"
  else:
    new_value = "0%-10%"

  temp_df.set_value(i,'Health_Expenditure_Indv_Categories', new_value)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [81]:
# Employment Rate
temp_df['Employment_Rate_Categories'] = ''
for i, row in temp_df.iterrows():
  value = temp_df['Employment_Rate'][i]

  if value>90:
    new_value = "91-100"
  elif value>80:
    new_value = "81-90"
  elif value>70:
    new_value = "71-80"
  elif value>60:
    new_value = "61-70"
  elif value>50:
    new_value = "51-60"
  elif value>40:
    new_value = "41-50"
  elif value>30:
    new_value = "31-40"
  elif value>20:
    new_value = "21-30"
  elif value>10:
    new_value = "11-20"
  else:
    new_value = "0-10"

  temp_df.set_value(i,'Employment_Rate_Categories', new_value)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [82]:
# Income_Inequality
temp_df['Income_Inequality_Categories'] = ''
for i, row in temp_df.iterrows():
  value = temp_df['Income_Inequality'][i]

  if value>90:
    new_value = "91-100"
  elif value>80:
    new_value = "81-90"
  elif value>70:
    new_value = "71-80"
  elif value>60:
    new_value = "61-70"
  elif value>50:
    new_value = "51-60"
  elif value>40:
    new_value = "41-50"
  elif value>30:
    new_value = "31-40"
  elif value>20:
    new_value = "21-30"
  elif value>10:
    new_value = "11-20"
  else:
    new_value = "0-10"

  temp_df.set_value(i,'Income_Inequality_Categories', new_value)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [83]:
# Corruption Perception
temp_df['Corruption_Perception_Categories'] = ''
for i, row in temp_df.iterrows():
  value = temp_df['Corruption_Perception'][i]

  if value>90:
    new_value = "91-100"
  elif value>80:
    new_value = "81-90"
  elif value>70:
    new_value = "71-80"
  elif value>60:
    new_value = "61-70"
  elif value>50:
    new_value = "51-60"
  elif value>40:
    new_value = "41-50"
  elif value>30:
    new_value = "31-40"
  elif value>20:
    new_value = "21-30"
  elif value>10:
    new_value = "11-20"
  else:
    new_value = "0-10"

  temp_df.set_value(i,'Corruption_Perception_Categories', new_value)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

## **Other**

### **Testing Codes**

In [0]:
temp_df.loc[temp_df['Country']=='Afghanistan']

In [0]:
print(temp_df.shape)
print(temp_df.dtypes)
print(temp_df.isna().sum())

In [84]:
temp_df

              Country  ... Corruption_Perception_Categories
0         Afghanistan  ...                             0-10
1             Albania  ...                            31-40
2             Algeria  ...                            31-40
3      American Samoa  ...                             0-10
4             Andorra  ...                             0-10
...               ...  ...                              ...
31775       West Bank  ...                             0-10
31776  Western Sahara  ...                             0-10
31777           Yemen  ...                             0-10
31778          Zambia  ...                             0-10
31779        Zimbabwe  ...                             0-10

[31780 rows x 27 columns]

In [0]:
df

### **Copy & Save**

In [0]:
df = temp_df.copy()

In [0]:
temp_df = df.copy()

In [0]:
# Save to CSV
df.to_csv("/content/drive/My Drive/Coursework/Spring 2020/CSE 564 - Visualization/Assignments/Lab 1/Datasets/Final_Dataset.csv", index=False)